<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">

<body>
<section layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title m-b-0">Static Table</h5>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th th:text="${user.id}" scope="row">1</th>
                <td th:text="${user.name}">Mark</td>
                <td th:text="${user.username}">Otto</td>
                <td th:text="${user.email}">@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>